<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>mismo</display-name>

	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReviewServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.ReviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchPatientServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.MatchPatientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadHl7Servlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.DownloadHl7Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestSetServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.TestSetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestSetUploadServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.TestSetUploadServlet</servlet-class>
		<init-param>
            <param-name>uploadDir</param-name>
            <param-value>C:\dev\mismo\temp</param-value>
        </init-param>
	</servlet>
	<servlet>
		<servlet-name>WeightSetServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.WeightSetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddressTestServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.AddressTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestScriptExploreServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.TestScriptExploreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CentralServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.CentralServlet</servlet-class>
		<init-param>
            <param-name>dataStoreDir</param-name>
            <param-value>C:\dev\mismo\datastore</param-value>
        </init-param>
	</servlet>
	
	
	<servlet>
		<servlet-name>TestMatchingServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.TestMatchingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GenerateWeightsServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.GenerateWeightsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RandomServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.RandomServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RandomScriptServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.RandomScriptServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RandomForCDCServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.RandomForCDCServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConvertDataServlet</servlet-name>
		<servlet-class>org.immregistries.mismo.trainer.servlet.ConvertDataServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchPatientServlet</servlet-name>
		<url-pattern>/MatchPatientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReviewServlet</servlet-name>
		<url-pattern>/ReviewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadHl7Servlet</servlet-name>
		<url-pattern>/DownloadHl7Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CentralServlet</servlet-name>
		<url-pattern>/CentralServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestSetServlet</servlet-name>
		<url-pattern>/TestSetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestSetUploadServlet</servlet-name>
		<url-pattern>/TestSetUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeightSetServlet</servlet-name>
		<url-pattern>/WeightSetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestMatchingServlet</servlet-name>
		<url-pattern>/TestMatchingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestScriptExploreServlet</servlet-name>
		<url-pattern>/TestScriptExploreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateWeightsServlet</servlet-name>
		<url-pattern>/GenerateWeightsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RandomServlet</servlet-name>
		<url-pattern>/RandomServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RandomScriptServlet</servlet-name>
		<url-pattern>/RandomScriptServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RandomForCDCServlet</servlet-name>
		<url-pattern>/RandomForCDCServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConvertDataServlet</servlet-name>
		<url-pattern>/ConvertDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddressTestServlet</servlet-name>
		<url-pattern>/AddressTestServlet</url-pattern>
	</servlet-mapping>
</web-app>
